<div style="float:left;">
	<ul>
		<li class="">
			<a href="http://gahcep.github.com">Home</a>
		</li>
		<li class="divider-vertical"></li>
		<li class="">
			<a href="http://github.com/gahcep" target="_blank">GitHub</a>
		</li>
		<li class="divider-vertical"></li>
		<li class="">
			<a href="http://ru.linkedin.com/pub/sergey-danielyan/41/308/78b" title="Go to linkedin profile" target="_blank">LinkedIn</a>
		</li>	
		<li class="divider-vertical"></li>
		<li class="">
			<a href="http://www.twitter.com/gahcep" title="Go to twitter.com/gahcep" target="_blank">Twitter</a>
		</li>	
		<li class="divider-vertical"></li>
		<li class="">
			<a href="http://stackoverflow.com/users/889576/gahcep" title="Go to StackOverflow" target="_blank">StackOverflow</a>
		</li>
	</ul>
</div>
<div style="float:right;margin-right:20px;">
	<ul>
		<header>
		  <h1 id="credentials_title">Sergey Danielyan</h1>
		</header>
	</ul>
</div>