<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Gahcep.github.com : " />

    <link rel="stylesheet" type="text/css" media="screen" href="/css/stylesheet.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/css/pygments.css">
<!--[if lt IE 9]>
<script>
document.createElement('header');
document.createElement('nav');
document.createElement('section');
document.createElement('article');
document.createElement('aside');
document.createElement('footer');
document.createElement('hgroup');
</script>
<![endif]-->
 <title>{{ page.title }}</title>
 
 <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33733609-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>

<body>
    <div id="wrapper">
   
		<!-- Fixed navigation panel -->
		<div id="nav">
			{% include navi_bar.html %}
		</div>

		<!-- Header -->
		<div id="header_wrap" class="outer">
			{% include header.html %}
		</div>
	    
	    <!-- BODY -->
  	    <div id="sidebar-main" class="outer">
	    	<div id="sidebar-left">
	    		
	    	</div>
	    	
			<!-- POST CONTENT -->
	    	<div id="sidebar-inner" style="width:75%;">
				<div id="sidebar-inner-left">
				<span style="font-weight:normal;font-size:14px;color:#888888">
					{{ page.date | date: "%B %e, %Y" }}
				</span>
				<br>
				<span class="post-label">Posted by:</span>
				<span class="post-author">
					{{ page.author" }}
				</span>
				<br>
				<span class="post-label">Category:</span>
				<span class="post-category">
					{{ page.category" }}
				</span>
					
	    			{{ content }}
					
				<!-- Snippets -->
				{% include snip-post-navi.html %}
				{% include snip-post-disqus.html %}
				</div>
				
				<div id="sidebar-inner-right">
				</div>
				
			</div>
	    </div>
	    
	    <!-- FOOTER -->
  	    <div id="g_footer">
		    <footer class="inner">
		      {% include footer.html %}
		    </footer>
	    </div>
	</div>
	
	<script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'gahcep'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        }());
    </script>
		
</body>
</html>

