<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Gahcep.github.com : " />

    <link rel="stylesheet" type="text/css" media="screen" href="/css/stylesheet.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/css/pygments.css">

 <title>{{ page.title }}</title>
</head>

<body>
    <div id="wrapper">
   
		<!-- Fixed navigation panel -->
		<div id="nav">
			{% include navi_bar.html %}
		</div>

		<!-- Header -->
		<div id="header_wrap" class="outer">
			{% include header.html %}
		</div>
	    
	    <!-- BODY -->
  	    <div id="sidebar-main" class="outer">
	    	<div id="sidebar-left">
	    		
	    	</div>
	    	
			<!-- POST LIST -->
	    	<div id="sidebar-inner" style="width:75%;">
	    		<div id="sidebar-inner-left">
	    			{{ content }}
				</div>
			
				<div id="sidebar-inner-right">
				</div>
				
			</div>
	    </div>
	    
	    <!-- FOOTER -->
  	    <div id="g_footer">
		    <footer class="inner">
		      {% include footer.html %}
		    </footer>
	    </div>
	</div>
</body>
</html>

